.dashboardContainer{
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 1em;
  border: 1px solid #0c68d1;
  padding: 6em;
  overflow: hidden;
  }

.sidebar{
  /* border: 1px solid #0c68d1; */
  /* background-color: rgb(243, 243, 243); */
  grid-column:2/3;
  grid-row:1/4;
  padding: 1em;
}
.overview{
  /* border: 1px solid #0c68d1; */
  grid-column:3/4;
  grid-row:1/2;
  display: table;
}
.overview_visual{
  /* border: 1px solid #0c68d1; */
  grid-column:4/5;
  grid-row:1/2;
}
.transactions_container{
  /* border: 1px solid #0c68d1; */
  grid-column:3/5;
  grid-row:2/4;
}

.overview_visual canvas{
  display: flex;
  background-color: rgb(243, 243, 243);
  object-fit: contain;
}

.table_container{
  display: flex;
  justify-content: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table_container select{
  width: 1.5em;
  margin: 5px;
  color: #1cacd8;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}


input[type="file"] {
  display: none;
}

#upload_label{
  background: white;
  border: rgb(185, 182, 182) solid 2px;
  border-radius: 5px;
  font-size: 15px;
  min-width: 150px;
  padding: 10px;
  color: rgb(67, 116, 116);
}

#upload_icon{
  padding-top: 3px;
}

#upload_container{
  display:flex;
}

.account{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(219, 216, 216);
}
h1 + .account{
  border-top: 1px solid rgb(219, 216, 216);
}

.material-ui-icon{
  border:1px solid rgb(179, 176, 176);
  padding:3px;
  border-radius: 5px;
}

.material-ui-icon:hover{
  background-color: rgb(243, 240, 240);
}

.create-account-container{
  padding-top:30px;
}

.create-account-container .material-ui-icon{
  margin-right: 10px;
}

.create-account-container label,
.account label{
display: block;
padding-top: 5px;
padding-bottom: 5px;
}

.create-account-container button,
.account button{
  float: right;
  margin-top: 10px;
}

.create-account-container input,
.account input,
.create-account-container select,
.account select{
  margin-left: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgb(87, 87, 87);
}

.cancel{
  color: rgb(65, 158, 158);
  text-decoration: underline;
  padding-top: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.create-account-container form,
.account form{
  margin-bottom: 10px;
}
