@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
  font-family: 'Quicksand', sans-serif;
  margin-left: 0rem;
  margin-right: 0rem;
  color: rgb(87, 87, 87);
}

::placeholder{
  font-family: 'Quicksand', sans-serif;
  color: rgb(161, 159, 159);
}

button{
  font-family: 'Quicksand', sans-serif;
  font-weight:bold ;
  background: white;
  border-radius: 5px;
  font-size: 16px;
  min-width: 150px;
  padding: 10px;
  border:1px solid rgb(179, 176, 176);
  border-radius: 5px;
}

button:hover{
  background-color: rgb(243, 240, 240);
}

.errors{
  padding: 10px;
  color: rgb(109, 34, 34);
}

.main-heading{
  font-size:40px;
  font-weight: 1000;
  padding-top: 1em;
}

.secondary-heading{
  font-size:35px;
  font-weight: 1000;
}

.tertiary-heading{
  font-size:20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.body-text{
  font-size:16px;
  font-weight: 500;
  line-height: 2;
}
