@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
  font-family: 'Quicksand', sans-serif;
  margin-left: 0rem;
  margin-right: 0rem;
  color: rgb(87, 87, 87);
}

::placeholder{
  font-family: 'Quicksand', sans-serif;
}

button{
  background: white;
  border-radius: 5px;
  font-size: 15px;
  min-width: 150px;
  padding: 10px;
  color: rgb(67, 116, 116);
}

.errors{
  padding: 10px;
  color: rgb(109, 34, 34);
}

.main-heading{
  font-size:40px;
  font-weight: 1000;
  padding-top: 1em;
}

.secondary-heading{
  font-size:35px;
  font-weight: 500;
  font-weight: 1000;
}
